# Core
pandas==2.2.3
numpy==2.2.2

# Visualization
plotly==6.0.0
kaleido==0.2.1

# Shiny framework
shiny==1.2.1
shinywidgets==0.5.2

# Widgets + maps
ipywidgets==8.1.5
ipyleaflet==0.19.2
branca==0.8.1

# Geospatial stack
geopandas==1.0.1
shapely==2.0.7
pyproj==3.7.1
pyogrio==0.10.0

# Parquet support
pyarrow==18.1.0
fastparquet==2024.11.0